.bounce-enter {
  opacity: 0;
  transition: all 500ms ease-in-out;
  transform: translate3d(-3000px, 0, 0);
}

.bounce-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 500ms ease-in-out;
}

.bounce-exit {
  opacity: 1;
  transition: all 500ms ease-in-out;
}

.bounce-exit-active {
  opacity: 0;
  transition: all 500ms ease-in-out;
}
