.pagination-wrapper {
  margin: 0 auto;
  position: absolute;
  display: flex;
  align-items: center;
  font-family: 'Great Vibes', cursive;
  color: rgba(255, 255, 255, 0.767);
  bottom: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.pagination-button {
  color: rgba(255, 255, 255, 0.699);
  transition: all 0.4s;

  &:disabled {
    opacity: 0.3;
  }
}
