.pagination-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Great Vibes', cursive;
  color: rgba(255, 255, 255, 0.767);
  z-index: 3;
}

.pagination-button {
  color: rgba(255, 255, 255, 0.699);
  transition: all 0.4s;

  &:disabled {
    opacity: 0.3;
  }
}
