@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,700|Great+Vibes&display=swap');

.sub-form {
  padding-top: 20px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-style: italic;
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 900px;
  margin-bottom: 50px;

  &__input {
    border: none;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-style: italic;
    margin-right: 10px;
    margin-left: 10px;
    width: 200px;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    height: 30px;
    border-bottom: 2px solid transparent;
    outline: none;
    background-color: transparent;

    &:focus {
      border-bottom: 2px solid rgb(192, 185, 185);
    }

    &::placeholder {
      color: rgba(143, 140, 140, 0.582);
    }
  }
}

.subs-length-wrap {
  position: fixed;
  z-index: 3;
  top: 14%;
  left: 12%;
  // width: 150px;

  .subs-length-text {
    font-size: 25px;
    text-decoration: underline;
    font-family: 'Great Vibes', cursive;
    color: #fff;
  }
}

.subs-list {
  display: flex;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  height: 620px;
  overflow: hidden;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  transition: all 0.5s;
  z-index: 3;

  &__item {
    max-width: 25%;
    min-width: 326px;
    // border: 1px solid #ffd90060;
    // background-color: rgba(207, 207, 207, 0.479);
    // border-radius: 20px;
    color: rgb(209, 208, 208);
    transform: rotateX(50deg);
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    position: relative;
    transition: all 0.5s;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      border-color: white;
      transform: translateX(-10px) scale(1.1) rotateX(10deg);
      box-shadow: 6px 6px 11px -2px rgba(107, 107, 107, 1);
    }

    &:hover .image-wrapper {
      animation-name: heartBeat;
      animation-duration: 1.3s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
    }

    .image-wrapper {
      width: 40px;
      height: 40px;
      background-color: transparent;
      border: none;
      outline: none;

      .item-image {
        display: block;
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }

  14% {
    transform: scale(1.3);
  }

  28% {
    transform: scale(1);
  }

  42% {
    transform: scale(1.3);
  }

  70% {
    transform: scale(1);
  }
}
